.App {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.App .siblings {
  display: flex;
  flex-direction: row;
  padding: 24px;
}

.App .partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .person {
  width: 150px;
  height: 20px;
  text-align: center;
  padding: 10px;
  margin: 4px;
}

.App .male {
  background-color: lightblue;
  border-color: lightblue;
  color: black;
}

.App .female {
  background-color: lightpink;
  border-color: lightpink;
  color: black;
}
